
@inject CityViewModel cityViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema</title>
    @*<environment include="Development">*@
    <link rel="stylesheet" href="~/lib/mdl/material.min.css" />
    <link rel="stylesheet" href="~/css/movie.css" />
    <link href="~/lib/mdbootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/mdb.min.css" />
    <link href="~/lib/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*</environment>*@
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <style>
        .demo-layout-transparent {
            background: url('https://cdn.pixabay.com/photo/2017/11/24/10/43/admission-2974645_960_720.jpg') center;
            background-size: cover;
        }

            .demo-layout-transparent .mdl-layout__header,
            .demo-layout-transparent .mdl-layout__drawer-button {
                color: white;
            }

        .mdl-layout__content {
            top: 25%;
            bottom: 50%;
        }

        .right-drawer.is-visible {
            transform: translateX(0);
        }

        .right-drawer {
            right: 0;
            left: unset;
            transform: translateX(250px);
        }
    </style>

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Cinema</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" onclick="OpenRight()">Choose a cinema</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer right-drawer">
            <span class="mdl-layout-title">Cinemas</span>
            <nav class="mdl-navigation">
                @foreach (var city in cityViewModel.cinemaLocations)
                {
                    <a class="mdl-navigation__link font-weight-bold">@city.CityName</a>
                    @foreach (var location in city.CinemaLocations)
                    {
                        <a class="mdl-navigation__link">@location.CinemaName</a>
                    }
                }

            </nav>
        </div>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" asp-controller="Movie" asp-action="Index">Movies</a>
                <a class="mdl-navigation__link" href="">Foodcourt</a>
                <a class="mdl-navigation__link" asp-controller="AdminTables" asp-action="MovieTable">Admin</a>
            </nav>
        </div>

        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdl/material.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function OpenRight() {
            $('.right-drawer').addClass('is-visible');
            const backdrop = $('.mdl-layout__obfuscator');
            backdrop.addClass('is-visible');
        }
        function CloseDrawers() {
            $('.mdl-layout__drawer').removeClass('is-visible');
        }
        $(document).ready(() => {
            setTimeout(() => {
                const backdrop = $('.mdl-layout__obfuscator');
                backdrop.click(() => CloseDrawers());
            }, 0);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
