@using Microsoft.AspNetCore.Identity
@inject SignInManager<Cinema.Core.Entities.Worker> SignInManager
@inject UserManager<Cinema.Core.Entities.Worker> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema</title>
    @*<environment include="Development">*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/mdl/material.min.css" />
    <link rel="stylesheet" href="~/css/movie.css" />
    <link href="~/lib/mdbootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/mdb.min.css" />
    <link href="~/lib/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*</environment>*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <style>
        .demo-layout-transparent {
            background: url('https://cdn.pixabay.com/photo/2017/11/24/10/43/admission-2974645_960_720.jpg') center;
            background-size: cover;
        }

            .demo-layout-transparent .mdl-layout__header,
            .demo-layout-transparent .mdl-layout__drawer-button {
                color: white;
            }

        .mdl-layout__content {
            top: 25%;
            bottom: 50%;
        }

        .right-drawer.is-visible {
            transform: translateX(0);
        }

        .right-drawer {
            right: 0;
            left: unset;
            transform: translateX(250px);
        }
    </style>

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Cinema</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="mdl-navigation__link" asp-controller="Account" asp-action="EditProfileLimited" asp-route-id="@UserManager.GetUserId(User)">Welcome, @UserManager.GetUserAsync(User).Result.Name @UserManager.GetUserAsync(User).Result.Surname</a>
                        <a class="mdl-navigation__link" asp-controller="Account" asp-action="LogOut">Leave</a>
                    }
                    else
                    {
                        <a class="mdl-navigation__link" asp-controller="Account" asp-action="Login">Login</a>
                    }
                </nav>
            </div>
        </header>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Cinema</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" asp-controller="Movie" asp-action="Index" style="display: 
                    @if (@UserManager.GetUserAsync(User).Result.PositionId == 2 || @UserManager.GetUserAsync(User).Result.PositionId == 3)
                    { <text>block</text>}
                    else
                    { <text>none</text>} ">Movies</a>
                    <a class="mdl-navigation__link" asp-controller="Foodcourt" asp-action="Index"
                       style="display: 
                    @if (@UserManager.GetUserAsync(User).Result.PositionId == 1 || @UserManager.GetUserAsync(User).Result.PositionId == 3)
                    { <text>block</text>}
                    else
                    { <text>none</text>} ">Foodcourt</a>
                    <a class="mdl-navigation__link" asp-controller="AdminTables" asp-action="Index" style="display: 
                    @if (@UserManager.GetUserAsync(User).Result.PositionId == 3)
                    { <text>block</text>}
                    else
                    { <text>none</text>} ">Admin</a>
                </nav>
            </div>
        }

        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/mdbootstrap/js/jquery.min.js"></script>
    <script src="~/lib/mdbootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/lib/mdbootstrap/js/addons/datatables.min.js"></script>
    <script src="~/lib/mdbootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdl/material.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function OpenRight() {
            $('.right-drawer').addClass('is-visible');
            const backdrop = $('.mdl-layout__obfuscator');
            backdrop.addClass('is-visible');
        }
        function CloseDrawers() {
            $('.mdl-layout__drawer').removeClass('is-visible');
        }
        $(document).ready(() => {
            setTimeout(() => {
                const backdrop = $('.mdl-layout__obfuscator');
                backdrop.click(() => CloseDrawers());
            }, 0);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
