@model CinemasViewModel
@{
    ViewData["Title"] = "MovieEdit";
}
<form onsubmit="return isValidEditCinema()" class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="opacity: 0.9; color: white;" asp-action="CinemaEdit" asp-controller="AdminTables" enctype="multipart/form-data">
    <div class="row">
        <div class="col-7">
            <h1>Edit a cinema</h1>
            <input type="hidden" value="@Model.cinemaLocation.Id" name="index" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cinema name</label>
                <input id="CinemaEditCinemaName" name="CinemaName" asp-for="@Model.cinemaLocation.CinemaName" value="@Model.cinemaLocation.CinemaName" class="form-control">
            </div>
            <label style="display:none; text-align: right; color: sandybrown;" id="CinemaEditCinemaNameMistake">This field should not be empty</label>


            <div class="form-group">
                <label class="control-label">City</label>
                <input id="CinemaEditCity" name="city" asp-for="@Model.cinemaLocation.City.CityName" value="@Model.cinemaLocation.City.CityName" class="form-control">
            </div>
            <label style="display:none; text-align: right; color: sandybrown;" id="CinemaEditCityMistake">This field should not be empty</label>


            <div class="form-group">
                <label class="control-label" style="justify-content: flex-start; display: flex;">Address</label>
                <input id="CinemaEditAddress" name="Address" asp-for="@Model.cinemaLocation.Address" value="@Model.cinemaLocation.Address" class="form-control">
            </div>
            <label style="display:none; text-align: right; color: sandybrown;" id="CinemaEditAddressMistake">This field should not be empty</label>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;" type="submit">
                Save
            </button>
        </div>
        </div>
</form>

