@using Cinema.ViewModels
@model CinemaLocationViewModel
@{
    ViewData["Title"] = "Movies";
}
<div class="container-fluid bg-dark" style="color:white;" style="opacity: 0.9;">
    <div class="data-table-wrapper-club club-wrappers-radius data-table-wrapper">
        <h1 class="grid-header">Cinemas in the system</h1>
        <table id="CinemaLocation"  class="dtClubAdmins table table-striped table-bordered table-lg table-responsive-lg" cellspacing="0" width="100%" style="background-color:white;">
            <thead>
                <tr>
                    <th class="th-sm">
                        Cinema name
                    </th>
                    <th class="th-sm">
                        Address
                    </th>
                    <th class="th-sm">
                        City
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.cinemaLocations)
                {
                <tr class="raport-click-row">
                    <td>@item.CinemaName</td>
                    <td>
                        @if (item.Address != null)
                        {
                            @item.Address
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td>
                        @if (item.City != null)
                        {
                            @item.City.CityName
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td>
                        <a asp-controller="AdminTables" asp-action="CinemaLocationEdit" asp-route-index="@item.Id" style="justify-content: center; display: flex; color: black;" role="button">
                            <i class="material-icons">settings</i>
                        </a>
                    </td>

                    <td>
                        <a asp-controller="AdminTables" asp-action="DeleteCinemaLocation" asp-route-index="@item.Id" style="justify-content: center;  color: black; display: flex;">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

