@model CinemaLocationAndFoodProductViewModel
@{
    ViewData["Title"] = "MovieEdit";
}
<form onsubmit="return isValidFoodAmountEdit()" class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="opacity: 0.9; color: white;" asp-action="FoodAmountEdit" asp-controller="AdminTables" enctype="multipart/form-data">
    <div class="row">
        <div class="col-7">
            <h1>Edit a food amount in a cinema @Model.foodAmount.CinemaLocation.CinemaName for a product @Model.foodAmount.FoodProducts.ProductName</h1>
            <input type="hidden" value="@Model.foodAmount.Id" name="index" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" style="display:flex; justify-content: flex-start;">Amount of product in the location</label>
                <input id="FoodAmountEdit" type="text" name="Amount" asp-for="@Model.foodAmount.ProductAmount" value="@Model.foodAmount.ProductAmount" class="form-control" />
            </div>
            <label style="display:none; text-align: right; color: sandybrown;"
                   id="FoodAmountEditMistake">This field should not be empty</label>
            <label style="display:none; text-align: right; color: sandybrown;"
                   id="FoodAmountEditMistake2">The input should be a number</label>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;" type="submit">
                Save
            </button>
        </div>
    </div>
</form>

