@using Cinema.ViewModels
@model MovieViewModel
@{
    ViewData["Title"] = "Movies";
}
<div class="container-fluid bg-dark" style="color:white; opacity: 0.9;">
    <div class="data-table-wrapper-club club-wrappers-radius data-table-wrapper">
        <h1 class="grid-header">Movies in the system</h1>
        <table id="Movies"  class="dtClubAdmins table table-striped table-bordered table-lg table-responsive-lg" cellspacing="0" width="100%" style="background-color:white;">
            <thead>
                <tr>
                    <th class="th-sm">
                        Title
                    </th>
                    <th class="th-sm">
                        Country of Origin
                    </th>
                    <th class="th-sm">
                        Director
                    </th>
                    <th class="th-sm">
                        Premiere date
                    </th>
                    <th>
                        End date
                    </th>
                    <th>
                        Length
                    </th>
                    <th>
                        Poster link
                    </th>
                    <th>
                        Genre
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.movies)
                {
                <tr class="raport-click-row">
                    <td>@item.Title</td>
                    <td>
                        @if(item.CountryOfOrigin.Name != null ){
                            @item.CountryOfOrigin.Name
                        }
                    </td>

                    <td>@if(item.Director.DirectorName != null){ @item.Director.DirectorName }</td>
                    <td>@item.PremiereDate </td>
                    <td>@item.EndDate </td>
                    <td>@item.Length </td>
                    <td style="width: 150px;">
                        <div style="text-overflow: ellipsis; max-width: 4.5em; overflow: hidden;">
                            @item.Poster
                        </div>
                    </td>
                    <td>
                        @foreach (var g in item.MovieGenres)
                        {
                            @g.Genre.GenreName
                        }
                    </td>
                    <td>
                        <a asp-controller="AdminTables" asp-action="MovieEdit" asp-route-index="@item.Id" style="justify-content: center; display: flex; color: black;" role="button">
                            <i class="material-icons">settings</i>
                        </a>
                    </td>

                    <td>
                        <a asp-controller="AdminTables" asp-action="DeleteMovie" asp-route-index="@item.Id"  style="justify-content: center;  color: black; display: flex;" >
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

