@using Cinema.ViewModels
@model EditMovieViewModel
@{
    ViewData["Title"] = "MovieEdit";
}
    <form onsubmit="return isValidMovieEdit()" class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="opacity: 0.9; color: white;" asp-action="Edit" asp-controller="AdminTables" enctype="multipart/form-data">
        <div class="row">
            <div class="col-7">
                <h1>Редагування фільму</h1>
                @Html.HiddenFor(model => model.id)
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Movie title</label>
                    <input id="EditMovieTitle" asp-for="@Model.Title"  class="form-control">
                </div>
                <label style="display:none; text-align: right; color: sandybrown;"
                       id="EditMovieTitleMistake">This field should not be empty</label>

                <div class="form-group">
                    <label class="control-label">Country of origin name</label>
                    <input id="EditMovieCountryOfOrigin" asp-for="@Model.CountryOfOrigin" class="form-control">
                </div>
                <label style="display:none; text-align: right; color: sandybrown;"
                       id="EditMovieCountryOfOriginMistake">This field should not be empty</label>

                <div class="form-group">
                    <label class="control-label">Director name</label>
                    <input id="EditMovieDirector" asp-for="@Model.DirectorName"  class="form-control">
                </div>
                <label style="display:none; text-align: right; color: sandybrown;"
                       id="EditMovieDirectorMistake">This field should not be empty</label>

                <div class="form-group">
                    <label class="control-label">Premiere date</label>
                    @if (@Model.PremiereDate != null)
                    {
                        <input type="hidden" id="dtOfBrthd" value=@Model.PremiereDate.ToString("dd-MM-yyyy") />
                    }
                    @Html.TextBoxFor(x => x.PremiereDate,
                        new { @autocomplete = "off", @type = "date", @placeholder = "Choose a date...", @id = "EditMoviePremiere", @class = "form-control" })
                </div>
                <label style="display:none; text-align: right; color: sandybrown;"
                       id="EditMoviePremiereMistake">This field should not be empty</label>

                <div class="form-group">
                    <label class="control-label">End date</label>
                    @if (@Model.EndDate != null)
                    {
                        <input type="hidden" id="dtOfBrthd" value=@Model.EndDate.ToString("dd-MM-yyyy") />
                    }
                    @Html.TextBoxFor(x => x.EndDate,
                        new { @autocomplete = "off", @type = "date", @placeholder = "Choose a date...", @id = "EditMovieEndDate", @class = "form-control" })
                </div>
                <label style="display:none; text-align: right; color: sandybrown;"
                       id="EditMovieEndDateMistake">This field should not be empty</label>

                <div class="form-group">
                    <label class="control-label">Movie length</label>
                    @if (@Model.Length != null)
                    {
                        <input type="hidden" id="dtOfBrthd" value=@Model.Length.ToString("hh:mm") />
                    }
                    @Html.TextBoxFor(x => x.Length,
                        new { @autocomplete = "off", @type = "time", @placeholder = "Choose a date...", @id = "EditMovieLength", @class = "form-control" })
                </div>
                <label style="display:none; text-align: right; color: sandybrown;"
                       id="EditMovieLengthMistake">This field should not be empty</label>

                <div class="form-group">
                    <label class="control-label">Poster link</label>
                    <input asp-for="@Model.Poster" id="EditMoviePoster" class="form-control">
                </div>
                <label style="display:none; text-align: right; color: sandybrown;"
                       id="EditMoviePosterMistake">This field should not be empty</label>

                <div class="form-group">
                    <label class="control-label">Movie description</label>
                    <textarea asp-for="@Model.Description" id="clubDescription-clubAdmins" class="form-control" style="min-height: 200px;"> </textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" style="justify-content: flex-start; display: flex;">Genres</label>
                    <div class="form-control" style="    height: fit-content; display: flex; flex-direction: column;">
                        @foreach (var a in Model.genre)
                        {
                            <div style="display:flex; flex-direction: row;">

                                <input type="checkbox" name="genre"
                                       value="@a.GenreId" checked="@a.IsSelected" /><span>@a.GenreName</span>
                                </div>
                            }
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;" type="submit">
                    Save
                </button>
            </div>
    </form>

