@model EditWorkerViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .text-color-white {
        color: white;
    }
</style>
<div style="display: flex; flex-direction: row; justify-content: space-around;">
    <div class="text-center text-color-white bg-dark" style="        justify-content: center; display: flex;
        flex-direction: column;
        opacity: 0.9;
        padding: 10px;
        width: 40%;">
        <h1 class="display-4">Welcome to cinema corporate system</h1>
        <label class="control-label" style=" font-size: 18px; font-weight: inherit; color: sandybrown;">To access functionality, click on burger-button</label>
    </div>
    <div class="text-center text-color-white bg-dark" style="display: flex; flex-direction: column; opacity: 0.9; width: 50%; padding: 10px;">
        <h1 class="display-4">My profile</h1>
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <label class="control-label" style="color: sandybrown; font-size: 18px; font-weight: bold;">Name</label>
            <label class="control-label" style=" font-size: 18px; font-weight: inherit;">@Model.worker.Name</label>
        </div>
        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-around;">
            <label class="control-label" style="color: sandybrown; font-size: 18px; font-weight: bold;">Surname</label>
            <label class="control-label" style=" font-size: 18px; font-weight: inherit;">@Model.worker.Surname</label>
        </div>
        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-around;">
            <label class="control-label" style="color: sandybrown; font-size: 18px; font-weight: bold;">Fathername</label>
            <label class="control-label" style=" font-size: 18px; font-weight: inherit;">@Model.worker.FatherName</label>
        </div>
        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-around;">
            <label class="control-label" style="color: sandybrown; font-size: 18px; font-weight: bold;">Passport data</label>
            <label class="control-label" style=" font-size: 18px; font-weight: inherit;">@Model.worker.PassportData</label>
        </div>
        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-around;">
            <label class="control-label"
                   style="color: sandybrown; font-size: 18px; font-weight: bold;">My position</label>
            <label class="control-label" style=" font-size: 18px; font-weight: inherit;">@Model.worker.Position.PositionName</label>
        </div>
        <br />
        <a asp-controller="Account" asp-action="EditProfileLimited" asp-route-id="@Model.worker.Id" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
            Edit profile
        </a>
    </div>
</div>
