@model EditWorkerViewModel
@{
    ViewData["Title"] = "Register";
    var returnUrl = Context.Request.Query["returnurl"];
}


<form onsubmit="return isValidProfileLimited()" class="container bg-dark m-5 pt-2 pb-5 pr-5 pl-5 club-wrappers-radius" style="flex-direction: column; opacity: 90%; color: white;" asp-controller="Account" asp-action="EditProfileLimited" method="post" asp-route-returnurl="@returnUrl">
    <div style="display: flex; flex-direction: column; align-self: stretch; width: 50%;     margin: 0 auto;">
        <h1>Edit worker</h1>
        <input type="hidden" value="@Model.worker.Id" name="oldId" />
        <div style="display: flex;  flex-direction: row; justify-content: space-between;">
            <label class="control-label">Name</label>
            <input id="limName" asp-for="@Model.worker.Name" name="Name" value="@Model.worker.Name" style="flex-basis: 50%;" class="form-control">
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="limNameMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="limNameMistake2">This field should contain only letters</label>
        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Surname</label>
            <input id="limSurname" asp-for="@Model.worker.Surname" name="Surname" value="@Model.worker.Surname" style="flex-basis: 50%;" class="form-control">
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="limSurnameMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="limSurnameMistake2">This field should contain only letters</label>
        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Fathername</label>
            <input id="limFathername" asp-for="@Model.worker.FatherName" name="Fathername" value="@Model.worker.FatherName" style="flex-basis: 50%;" class="form-control">
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="limFathernameMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="limFathernameMistake2">This field should contain only letters</label>
        <br />
        <div style="display: flex; flex-direction:row; justify-content: space-between;">
            <label class="control-label">Passport data</label>
            <input id="limPassportData" asp-for="@Model.worker.PassportData" name="PassportData" value="@Model.worker.PassportData" style="flex-basis: 50%;" class="form-control">
        </div>
        <label style="display:none; text-align: right; color: sandybrown;" id="limPassportDataMistake">This field should not be empty</label>
        <label style="display:none; text-align: right; color: sandybrown;" id="limPassportDataMistake2">Passport data has a wrong format. It should contain 2 letters and 6 numbers</label>
        <br />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%;">
            Save
        </button>
    </div>
</form>

