@using Cinema.ViewModels
@model MovieViewModel
@{
    ViewData["Title"] = "Movies";
}

<div class="movie-info">
    <div class="poster-div">
        <div class=".movie-poster-container">
            <div class="placeholder">
                <img src="@Model.movie.Poster" class="poster-image">
            </div>
        </div>
    </div>
    <div class="movie-info-div">
        <h1 class="movie-title">@Model.movie.Title</h1>
        <ul class="movie-info-b">
            <li class="movie-li">
                <p class="li-key">Director:</p>
                <p class="li-value">@Model.movie.Director.DirectorName</p>
            </li>
            <li class="movie-li">
                <p class="li-key">Premiere date:</p>
                <p class="li-value">@Model.movie.PremiereDate.ToShortDateString()</p>
            </li>
            <br>
            <li class="movie-li">
                <p class="li-key">End date:</p>
                <p class="li-value">@Model.movie.EndDate.ToShortDateString()</p>
            </li>
            <br>
            <li class="movie-li">
                <p class="li-key">Country of origin:</p>
                <p class="li-value">@Model.movie.CountryOfOrigin.Name</p>
            </li>
            <br>
            <li class="movie-li">
                <p class="li-key">Length:</p>
                <p class="li-value">@Model.movie.Length.Hour : @Model.movie.Length.Minute</p>
            </li>
            <br>
            <li class="movie-li">
                <p class="li-key">Genre:</p>
                <p class="li-value">
                    @foreach (var m in @Model.movie.MovieGenres)
                    {
                        @m.Genre.GenreName <br>
                    }
                </p>
            </li>
        </ul>
        <div class="movie-description">
            <p>
                @Model.movie.Description
            </p>
        </div>
    </div>
</div>
<div class="showings" style="display: flex; flex-direction: column;">
    <h1 class="movie-title">Showings</h1>
    <label class="control-label" style="color: white; font-size: 16px;">Choose a cinema</label>
    <select id="MovieSelection" name="typeSelect" class="form-control" onchange="DisplayShowings()">
        @foreach (var type in Model.cinemaLocations)
        {
            <option value="@Model.cinemaLocations.IndexOf(type)">@type.CinemaName</option>
        }
    </select>
    <div class="allShowings">
        @foreach (var type in Model.cinemaLocations)
        {
                <div class="showingsbyCinema" style="display: none;">
            @foreach (var m in @Model.movie.Showings)
            {
                    @if (m.DateAndTime >= DateTime.Today && Model.cinemasAndShowing[type].Contains(m.Id))
                    {
                        <div style="display: flex; flex-direction:row; margin: 15px;">
                            <div style="color: white; font-size: 20px; padding-right: 20px;">@m.DateAndTime.ToShortDateString() in cinema hall "@m.CinemaHall.Name"</div>
                            <div style="color: white; font-size: 20px;">
                                <a style="color: white; font-size: 20px;" asp-controller="Movie" asp-action="MovieShowing" asp-route-showingId="@m.Id">
                                    @m.DateAndTime.Hour : @m.DateAndTime.Minute
                                </a>
                            </div>
                        </div>
                    }
            }
                </div>
        }
        </div>
</div>